python=3.10
numba
jsonschema
pip
requests
pybdv
s3fs
pillow
tifffile
pathlib2
scipy
rtree
networkx
matplotlib
jinja2
six
git
scikit-image
shapely
triangle
imageio
seaborn
mpld3
descartes
lxml
botocore<1.34.35
opencv
mobie_utils